<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @user.username %>,</h3>
    <p>You have been demoted from project administrator of "<%= @project.title %>".</p>
  <body>
</html>
