<%- model_class = Task -%>
<div class="page-header">
  <h2><%=t '.name', :default => model_class.model_name.human.pluralize.titleize %></h2>
  <p id="notice"><%= notice %></p>
</div>
<%= render :partial => 'index' %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              project_path(@project), :class => 'btn btn-default'  %>
