<%- model_class = Task -%>
<div class="page-header">
  <h2><%=t '.title', :default => [:'helpers.titles.new', 'Available %{model}'], :model => model_class.model_name.human.pluralize.titleize %></h2>
</div>
<%= render :partial => '/tasks/index' %>
